

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body{
  background: #ddd;

  .first-div{
    background: green;
    width: 400px;
    height: 400px;
    margin: 20px auto 0;

    .haone{
      color: #00df00;
      text-align: center;
      padding: 20px;
    }
  }
}